* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.seatcontainer {
  display: flex;
  flex-direction: row;
}
.seatbox1 {
  padding: 13px;
  background-color: coral;
  margin: 5px;
}

.seatbox2 {
  padding: 13px;
  background-color: palegoldenrod;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.selectedseat {
  display: flex;
  flex-direction: row;
}
.selectedseatbox {
  background-color: greenyellow;
  padding: 13px;
  margin: 5px;
}
